@import "tailwindcss";

:root, html, body, #app{
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;

}
html{
  font-size: 16px;
}
:root{
  --front-view-color:#010409;
  --front-view-color-light:#0d1117;
  --back-view-color:#f6f8fa;
  --back-view-color-light:#ffffff;
}
.dark{
  --front-view-color:#f6f8fa;
  --front-view-color-light:#ffffff;
  --back-view-color:#010409 ;
  --back-view-color-light:#0d1117;
}

#app{
  width: 100%;
  height: 100dvh;
  position: fixed;
}